{% extends "base.html" %}
{% block content %}

{% for article in articles_page.object_list %}
<article>
  <div class="article__cover">
    {% if article.cover %}
      <img class="fit_to_div" src="{{ article.cover }}" alt="">
    {% endif %}
  </div>
  <div class="article__content">
    <div class="article__title"><h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2></div>
    <div class="article__category">
      <a class="link_category" href="{{ SITEURL }}/{{ article.category.url }}"><i class="fa fa-folder" aria-hidden="true"></i>
        {{ article.category }}</a>
    </div>
    <div class="article__tags">
      {% if article.tags %}
      {% for tag in article.tags %}
      <a class="" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    </div>
    <div class="article__date">
      Publicat el: {{ article.locale_date }}
    </div>
  </div> 
</article>
{% if not loop.last %}
<hr />
{% endif %}
{% endfor %}

<article>
<h2>La Crida a xarxes socials</h2>
<script async src="https://walls.io/js/wallsio-widget-1.2.js" data-wallurl="https://my.walls.io/i59q8?nobackground=1&amp;show_header=0" data-title="My social wall" data-width="100%" data-autoheight="1" data-height="800" data-lazyload="1"></script>
</article>
{% endblock %}

{% block footer %}
  {% include "modules/pagination.html" %}
{% endblock %}
