{% extends "base.html" %}
{% block head %}
<meta name="keywords" content="">
<title>Programa | Crida Premià de Dalt</title>
<meta name="tags" content="thats, awesome" />
<meta name="date" content="2022-10-10 23:59"/>
<meta name="modified" content="2022-10-10 23:59" />
<meta name="category" content="yeah" />
<meta name="authors" content="Crida Premià de Dalt" />
<meta name="description" content="Programa electoral de Crida Premià de Dalt" />
{% endblock %}

{% block content %}

<article>

<h1>Programa i codi ètic</h1>
<a href="/codi-etic">Veure el codi ètic</a>

<h2>2023-2027</h2>
<ul>
  <li>Programa electoral [en treball] 2023</li>
  {% comment %} (<a href="https://docs.google.com/document/d/e/2PACX-1vQiO-zn7Amk-OTfNLxIfjP7WNsAQWr4EHcSmE1cZTdcM21r622PmnzMmWc4gvvgcyQnaJ6VyZLoN9fM/pub">accediu</a>) {% endcomment %}
</ul>
<h2>2019-2023</h2>
<ul>
  <li>Fulletó resum programa electoral 2019 (<a href="https://drive.google.com/file/d/1pb4gLb9ALkRVC-q4IJuJ36ZItegYkgHw/view?usp=sharing">accediu</a>)</li>
  <li>Programa electoral complert 2019 (<a href="https://drive.google.com/file/d/117jASMXKgB2XFaycYGqaDOqe4GzKtLN2/view?usp=sharing">accediu</a>)</li>
  <li>Fulletó mailing electoral 2019 (<a href="https://drive.google.com/file/d/1yxNO31v8nBkn2969FaSJOJ7CzvyzgB04/view?usp=sharing">accediu</a>)</li>
</ul>

<h2>2015-2019</h2>
<ul>
  <li>Programa electoral complert 2019 (<a href="https://drive.google.com/file/d/1iXHrMoPFomkWkRavmWRFs__rxWxQZfHR/view?usp=sharing">accediu</a>)</li>
</ul>

</article>

{% endblock %}
